# tutorial auto generated configuration
.tasks
.tute_config

# tutorial auto generated build files
*build*
*.obj

# tutorial desciption files
dynamic-1/dynamic-1.md
fault-handlers/fault-handlers.md
mapping/mapping.md

# local debugging configuration
**/.vscode

# non relevent
projects/camkes-vm-linux/

# camkes auto gen files
hello-dump*

**/.allocator.obj
